<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true">
    <display-name>aleph2_api</display-name>

    <absolute-ordering/>

     <listener>
        <listener-class>com.ikanow.aleph2.web_utils.GuiceContextListener</listener-class>
    </listener>
 <!-- comment when used with shiro.ini     
 	<listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
-->
	  <servlet>
	    <servlet-name>Resteasy</servlet-name>
	    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
	    <init-param>
	      <param-name>javax.ws.rs.Application</param-name>
	      <param-value>com.ikanow.aleph2_api.application.ApiApplication</param-value>
	    </init-param>
	  </servlet>
  <!-- We map the api calls to something other than /* so we can serve up the static webpages in WebContent -->
  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

<!--  <filter>
    <filter-name>UrlRewriteFilter</filter-name>
    <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>confPath</param-name>
            <param-value>/WEB-INF/urlrewrite.xml</param-value>
        </init-param>

</filter>

<filter-mapping>
    <filter-name>UrlRewriteFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
</filter-mapping>
-->
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <error-page>
        <error-code>401</error-code>
        <location>/error401.jsp</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/error403.jsp</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/error500.jsp</location>
    </error-page>
    
    <context-param>
	     <param-name>aleph2.config</param-name>
	     <param-value>/opt/aleph2-home/etc/aleph2_api/aleph2_api.properties</param-value>
	</context-param>
 	<context-param>
	     <param-name>aleph2.module_class</param-name>
	    <param-value>com.ikanow.aleph2.security.module.IkanowV2WebSecurityModule</param-value>
	</context-param>
	
	<context-param>
	     <param-name>aleph2.application_class</param-name>
	     <param-value>com.ikanow.aleph2.web_utils.DefaultInjectorContainer</param-value>
	</context-param>
    
</web-app>

